body {
  background-color: rgb(241, 237, 237);
}

.active-1 {
  border-bottom: 3px solid grey;
  color: black;
  font-weight: 500;
}

.tag {
  /* padding: 10px; */
  border-radius: 20px;
  /* background-color: grey; */
}
